@tailwind base;
@tailwind components;
@tailwind utilities;



.box{
    width: 120px;
    height: 120px;
    border-radius: 20%;
    background-color: #7176a7;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #000;
    font-size: 1rem;
    font-weight: bold;
    cursor: pointer;
    

    
}